 {
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
   },
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}